@font-face {
    font-family: '';
    src: url('NotoSansKR-Bold-Alphabetic.eot');
    src: url('NotoSansKR-Bold-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSansKR-Bold-Alphabetic.woff2') format('woff2'),
        url('NotoSansKR-Bold-Alphabetic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSansKR-Light-Alphabetic.eot');
    src: url('NotoSansKR-Light-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSansKR-Light-Alphabetic.woff2') format('woff2'),
        url('NotoSansKR-Light-Alphabetic.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

