@charset "utf-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    line-height: 1.2;
    color: #333;
}
/* 위에는 리셋영역  */

/* common 페이지에서 공통적 으로 사용되어지는 선택자 */
.inner {
    width: 1440px;
    margin: 0 auto;
}

section .title {
    margin-bottom: 40px;
}

section .title h3 {
    font-size: 50px;
}
section .title p {
    font-size: 20x;
}

/* ============================================= */

/* #header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100000;
}
#header .logo {
    color: #094b65;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
#header ul li {
    list-style: none;
    margin-left: 20px;
}
#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #094b65;
    border-radius: 20px;
}
#header ul li a:hover,
#header ul li a.active {
    background-color: #094b65;
    color: #fff;
} */

/* =============//header//====================== */

.cont0 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont0::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #094b65,transparent);
    z-index: 100;
}
.cont0 img {
    position: absolute;
    top:  0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.cont0 #text {
    position: absolute;
    color: #094b65;
    font-size: 10vw;
    text-align: center;
    line-height: 0.55em;
    /* font-family: 'Rancho', cursive; */
    font-family: 'NanumSquare';
    font-weight: 900;
    transform: translateY(-50%)
}
.cont0 #text span {
    font-size: 0.2em;
    letter-spacing: 2px;
    font-weight: 200;
    font-family: 'poppins', sans-serif;
}
#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: white;
    color: #094b65;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
}

/* =============// cont0 //================ */

/* swiper */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ================================= */

/* cont01 영상편집 */

.cont01 {
    /* margin: 200px 0; */
    position: relative;
    margin-top: 100px;
    padding: 200px 0; 
    z-index: 1;
    /* 배경색이 들어갈때는 padding 안들어갈때는 별상관없이 margin */
}
.cont01 .motion_menu {
    display: inline-block; /* 가로와 세로수치 영역만큼만 */
}
.cont01 .motion_menu ul {
    display: flex;  /* 플랙스하여 옆으로 정렬시켜주고 */
    align-items: center;
    margin-bottom: 20px;
    background-color:#eee;
    height: 40px;
    border-radius: 40px;
}
.cont01 .motion_menu ul li {
    padding: 0 30px;
    font-size: 13px;
    cursor: pointer;

}
.cont01 .motion_menu ul li.on {
    background-color: royalblue;
    color: #fff;
    height: 100%;
    line-height: 40px;
    border-radius: 40px;
}

.cont01 .mySwiper {display: none;}
.cont01 .mySwiper.on {display: block;}

.cont01 .mySwiper .item {
    display: flex;
    justify-content: space-between;
}
.cont01 .mySwiper .item .pc_youtube {
    width: 55%;
    position: relative;
    
}
.cont01 .mySwiper .item .pc_youtube img {
    height: auto; 
    /*  이미지태그가 가지고 있는 높이와 넓이
    를 자동적으로 잡아준다 */
    
}
.cont01 .mySwiper .item .pc_youtube .youtube {
    position: absolute;
    top: 23px; left: 26px; /* 프레인 넓이 */
    z-index: 2;
    width: 94%;
}
.cont01 .mySwiper .item .pc_youtube .youtube > div {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}
.cont01 .mySwiper .item .pc_youtube .youtube > div iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
}

.cont01 .mySwiper .item .info {
    width: 45%;
    text-align: left;
    padding-left: 50px;
    }

.cont01 .mySwiper .item .info > strong {
    display: block;
    margin-bottom: 20px;
}
.cont01 .mySwiper .item .info h4 {
    font-size: 34px;
}
.cont01 .mySwiper .item .info p {
    font-size: 20px;
    border-top: 1px solid #666; 
    /* 라인선을 기준으로  실선 안쪽 
    margin-top: 20px;, 실선 바깥쪽padding-top: 20px;  */
    margin-top: 20px;
    padding-top: 20px;
    line-height: 1.4;
}

.cont01 .mySwiper .item .info .text {
    margin: 20px 0 30px;
}
.cont01 .mySwiper .item .info .text  li {
    line-height: 1.6;
}
.cont01 .mySwiper .item .info .text  li strong {}

.cont01 .mySwiper .item .info .btn {
    display: flex;
    

}
.cont01 .mySwiper .item .info .btn  li {
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    background-color: royalblue;
    color: #fff;
    margin-right: 10px;
}
.cont01 .mySwiper .item .info .btn li a {
    padding: 0 25px;
}
.cont01 .mySwiper .item .info .btn li:nth-of-type(2) {
    background-color: #fff;
    border: 1px solid #777;
    color: #333;
}


/* .cont03 웹사이트  */
.cont03 {
/*  width: calc(100% - 300px);
    margin: 200px auto; */
    background-color:#eee;
    padding: 200px 0;
}

.cont03 .title h3 {
    font-size: 30px;
    font-family: 'NotoSansKR';
    font-weight: 800;
}
.cont03 .title p {
    margin: 4px 0 4px;
    font-family: 'NotoSansKR';
}

.cont03 .list {
    height: 85vh;
    display: flex;
    justify-content: space-between  ;
}

.cont03 .list .ltem {
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
   /*  margin-right: 15px; */
    
}
.cont03 .list .ltem:hover::before {
    bottom: 0;
    
}
.cont03 .list .ltem:hover .info {
    background-color: transparent;
    color: #eee;
    transition: .5s;
}
.cont03 .list .ltem:hover .info a {
    color: #333;
}
.cont03 .list .ltem::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.571);
    transition: 0.5s;
}
.cont03 .list .ltem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont03 .list .ltem .info {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    word-break: keep-all;
    /* word-break: keep-all; 단어별로 줄바꿈 해줄 수 있는 태그 */
    
}
.cont03 .list .ltem .info h4 {
    font-size: 30px;
    font-family: 'NotoSansKR';
    
}
.cont03 .list .ltem .info p {
    margin: 7px 0 20px;
    line-height: 1.4;
}
.cont03 .list .ltem .info .text li {
    margin: 5px 0;
}
.cont03 .list .ltem .info .btn {
    display: flex;
    margin-top: 40px;
}
.cont03 .list .ltem .info .btn li {
    margin-right: 10px;
    background-color: #eee;
    border-radius: 40px;
}
.cont03 .list .ltem .info .btn li a {
    height: 45px;
    padding: 0 40px;
    display: block;
    line-height: 45px;
    font-size: 14px;
}

/* cont04 grapic design */

.cont04 {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 20px 0;
}
.cont04 .title {
    position: relative;
    left: 0;
    text-align: center;
}
.cont04 .title h3 {
    margin: 20px 0;
}
.cont04 .title p {
    margin-bottom: 40px;
}
.cont04 .title > div {
    
    width: 1440px;
    height: 550px;
    background-color: #eee;
}
.cont04 .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cont04 .list a {
    width: 19%;
    margin-bottom: 20px;
    
    
}
.cont04 .list a img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    
}
.cont04 .list a .info {
    text-align: center;
    line-height: 1.4;
    background-color: #fff;
    color: #666;
    padding: 20px 10px;
}
.cont04 .list a .info h4 {
    font-size: 20px;
    margin-bottom: 7px;
}
.cont04 .list a .info p {}

/* cont05 나의소개 */

.cont05 {
    padding: 200px 0;
}
.cont05 title {}

.cont05 .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cont05 .info .info_img {
    width: 400px;
    height: 400px;
}
.cont05 .info .info_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont05 .info .text {
    width: 1000px;
    padding-left: 100px;
}
.cont05 .info .text ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin-bottom: 10px;
}
.cont05 .info .text ul li {
    line-height: 1.4;
}
.cont05 .info .text ul li strong {
    display: inline-block;
    width: 180px;
}

.cont05 .info .text .list {
    margin-top: 50px;
    
}
.cont05 .info .text .list li {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    background-color: #eee;
    border-radius: 40px;
    margin: 5px 10px 0;
    font-size: 16px;
}
.cont05 .info .text .list li.v {
    background-color:royalblue;
    color: #fff;
    }

/* footer 영역 */

footer {
    padding: 70px 0;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}
footer ul {
    margin-bottom: 50px;
}
footer ul li {
    height: 50px;
    line-height: 50px;
    width: 200px;
    background-color: royalblue;
    margin: 10px auto;
    border-radius: 40px;
}
footer ul li a {
    display: block; 
    /* 글자영역 부분만 링크가 걸려있는데 이때 블록시켜주며 
        전체영역이 링크영역으로 변환이 된다*/
}
footer p{
    margin-bottom: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.521);
    line-height: 1.3;
}